/* contact styles go here */
* {
  margin: 0;
  box-sizing: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.openingwriteup {
  background-image: url("../images/heroimage.jpg");
  background-repeat: no-repeat;
  color: white;
  background-size: 100%;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contactmethods {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}
.closingwriteup {
  background-image: url("../images/footerimg.jpg");
  background-repeat: no-repeat;
  color: white;
  background-size: auto 100%;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
form {
  display: block;
  height: 300px;
  width: 200px;
  border: none;
  box-shadow: 0 3px 0px 2px;
}
.contactdata {
  margin-right: 200px;
}
.contactform {
  margin-left: 200px;
}

button {
  padding: 0.5rem;
  border: none;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
